.homeGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: 100%;
    transition: background-color 1s;
}

.homeGrid:hover{
    background-color: darkgray;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.aboutCSS{
    background-color: green;
}

.tekkenCSS{
    background-color: red;
}