.flex_1 {
    display: flex;
    width: 35%;
}
  
.flex_2 {
    display: flex;
    width: 60%;
}

.homeGrid{
    width: calc(100% / 3);
    height: 100%;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
}