.flex_1 {
  display: flex;
  width: 35%;
}

.flex_2 {
  display: flex;
  width: 60%;
}

ol.breadcrumb {
  margin: 0;
}

.websiteBreadcrumb {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

@media (max-width: 900px) {
  .breadcrumb {
    width: 910px;
  }

  .flexContainer {
    width: 910px;
  }
}

.comingSoonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.flex_1 > a > button.buttonNav,
ol.breadcrumb > a > button.buttonNav {
  background-color: Transparent;
  outline: none;
  border: none;
  color: black;
}
